<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.n52.geoar.data"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />

    <application android:label="SIR" >
    </application>

</manifest>